<span class="left-header">
    <img class="boerenkool-logo" src="./images/logo_hbb_beste.png" alt="Het logo van Huisje Boompje Boerenkool">
    <span class="boerenkool-text">HuisjeBoompjeBoerenkool,</span>
    <span class="playwrite-pe-boerenkool-slogan">de geur van thuis!</span>
</span>

<span class="right-header">
    <img class="login-img" src="./images/persoon.png"
        alt="icoon van een persoon die aangeeft dat hier ingelogt kan worden">
    <span class="login-text">inloggen</span>
    <img class="post-house-img" src="./images/house.png"
        alt="icoon van een huis die aangeeft dat je hier een nieuw huisje kan plaatsen">
    <span class="post-house-text">plaats een huisje</span>
</span>