<div class="amount-of-houses">
    <b>160</b> geurige huisjes beschikbaar om te boeken!
</div>

<div class="huisje">
    <img src="./images/house1.jpg" alt="Huisje 1">
    <div class="huisje-details">
        <h2>Modern Bos Huisje</h2>
        <p>Locatie: Veluwe</p>
        <p class="prijs">€150 per nacht</p>
    </div>
</div>

<div class="huisje">
    <img src="./images/house3.png" alt="Huisje 2">
    <div class="huisje-details">
        <h2>Charmant Strandhuisje</h2>
        <p>Locatie: Zandvoort</p>
        <p class="prijs">€200 per nacht</p>
    </div>
</div>

<div class="huisje">
    <img src="./images/house2.jpg" alt="Huisje 3">
    <div class="huisje-details">
        <h2>Rustiek Berg Chalet</h2>
        <p>Locatie: Ardennen</p>
        <p class="prijs">€180 per nacht</p>
    </div>
</div>

<div class="huisje">
    <img src="./images/house1.jpg" alt="Huisje 1">
    <div class="huisje-details">
        <h2>Modern Bos Huisje</h2>
        <p>Locatie: Veluwe</p>
        <p class="prijs">€150 per nacht</p>
    </div>
</div>

<div class="huisje">
    <img src="./images/house3.png" alt="Huisje 2">
    <div class="huisje-details">
        <h2>Charmant Strandhuisje</h2>
        <p>Locatie: Zandvoort</p>
        <p class="prijs">€200 per nacht</p>
    </div>
</div>

<div class="huisje">
    <img src="./images/house2.jpg" alt="Huisje 3">
    <div class="huisje-details">
        <h2>Rustiek Berg Chalet</h2>
        <p>Locatie: Ardennen</p>
        <p class="prijs">€180 per nacht</p>
    </div>
</div>

<div class="huisje">
    <img src="./images/house1.jpg" alt="Huisje 1">
    <div class="huisje-details">
        <h2>Modern Bos Huisje</h2>
        <p>Locatie: Veluwe</p>
        <p class="prijs">€150 per nacht</p>
    </div>
</div>

<div class="huisje">
    <img src="./images/house3.png" alt="Huisje 2">
    <div class="huisje-details">
        <h2>Charmant Strandhuisje</h2>
        <p>Locatie: Zandvoort</p>
        <p class="prijs">€200 per nacht</p>
    </div>
</div>

<div class="huisje">
    <img src="./images/house2.jpg" alt="Huisje 3">
    <div class="huisje-details">
        <h2>Rustiek Berg Chalet</h2>
        <p>Locatie: Ardennen</p>
        <p class="prijs">€180 per nacht</p>
    </div>
</div>

<div class="huisje">
    <img src="./images/house1.jpg" alt="Huisje 1">
    <div class="huisje-details">
        <h2>Modern Bos Huisje</h2>
        <p>Locatie: Veluwe</p>
        <p class="prijs">€150 per nacht</p>
    </div>
</div>

<div class="huisje">
    <img src="./images/house3.png" alt="Huisje 2">
    <div class="huisje-details">
        <h2>Charmant Strandhuisje</h2>
        <p>Locatie: Zandvoort</p>
        <p class="prijs">€200 per nacht</p>
    </div>
</div>

<div class="huisje">
    <img src="./images/house2.jpg" alt="Huisje 3">
    <div class="huisje-details">
        <h2>Rustiek Berg Chalet</h2>
        <p>Locatie: Ardennen</p>
        <p class="prijs">€180 per nacht</p>
    </div>
</div>

<div class="huisje">
    <img src="./images/house1.jpg" alt="Huisje 1">
    <div class="huisje-details">
        <h2>Modern Bos Huisje</h2>
        <p>Locatie: Veluwe</p>
        <p class="prijs">€150 per nacht</p>
    </div>
</div>

<div class="huisje">
    <img src="./images/house3.png" alt="Huisje 2">
    <div class="huisje-details">
        <h2>Charmant Strandhuisje</h2>
        <p>Locatie: Zandvoort</p>
        <p class="prijs">€200 per nacht</p>
    </div>
</div>

<div class="huisje">
    <img src="./images/house2.jpg" alt="Huisje 3">
    <div class="huisje-details">
        <h2>Rustiek Berg Chalet</h2>
        <p>Locatie: Ardennen</p>
        <p class="prijs">€180 per nacht</p>
    </div>
</div>

<div class="huisje">
    <img src="./images/house1.jpg" alt="Huisje 1">
    <div class="huisje-details">
        <h2>Modern Bos Huisje</h2>
        <p>Locatie: Veluwe</p>
        <p class="prijs">€150 per nacht</p>
    </div>
</div>

<span class="page-numbers">
    <span class="individual-page-number">1</span>
    <span class="individual-page-number">2</span>
    <span class="individual-page-number">3</span>
    ...
    <span class="individual-page-number">8</span>
    <span class="individual-page-number">9</span>
    <span class="individual-page-number">10</span>
</span>