<div class="dropdown">
    <span class="rightheader-text">
        <img class="rightheader-img" src="./images/persoon.png"
            alt="icoon van een persoon die aangeeft dat hier gebruikersopties te vinden zijn">
        replace[userName]
    </span>
    <div class="dropdown-content">
        <p class="rightheader-link">
            <a href="profile.html">
                <img class="rightheader-img" src="./images/my_profile.png"
                    alt="icoon die aangeeft dat je hier jouw profiel kan wijzigen">
                Mijn profiel
            </a>
        </p>
        <p class="rightheader-link">
            <a href="../wallet.html">
                <img class="rightheader-img" src="./images/my_wallet.png"
                    alt="icoon die aangeeft dat je hier jouw boerenkoolwallet kan vinden, opwaarderen en uitbetalen">
                Mijn wallet
            </a>
        </p>
        <p class="rightheader-link">
            <a href="saved-reservation.html">
                <img class="rightheader-img" src="./images/my_reservations.png"
                    alt="icoon die aangeeft dat jouw reserveringen hier te vinden zijn">
                Mijn reserveringen
            </a>
        </p>
        <p class="rightheader-link">
            <a href="mijn-huisjes.html">
                <img class="rightheader-img" src="./images/my_houses.png"
                    alt="icoon die aangeeft dat je hier jouw huizen kan vinden">
                Mijn huisjes
            </a>
        </p>
        <p class="rightheader-link">
            <a id="logoutLink" href="#">
                <img class="rightheader-img" src="./images/logout.png"
                    alt="icoon die aangeeft dat je hier kan uitloggen">
                Uitloggen
            </a>
        </p>
    </div>
</div>

<a href="messages.html">
    <img class="rightheader-img" src="./images/message_read.png"
        alt="icoon van een bericht die aangeeft dat alle berichten van de gebruiker gelezen zijn">
    <span>berichten</span>
</a>

<a href="plaats-huisje.html">
    <img class="rightheader-img" src="./images/house.png"
        alt="icoon van een huis die aangeeft dat je hier een nieuw huisje kan plaatsen">
    <span>plaats een huisje</span>
</a>