<form id="writeMessageForm" onsubmit="return false">

    <h3 id="headerSendMessage">Send a message</h3>

    <!--        <button id="goToMessagesButton">Naar mijn berichten</button>-->

    <label id="labelForReceiverInput">To : </label>

    <span id="receiverName"></span>

    <select name="receiverDropDown" id="receiverDropDown"></select>

    <label for="subjectInput" id="labelForSubjectInput">Subject : </label>
    <div>
        <textarea id="subjectInput" name="subject"></textarea>
    </div>

    <label for="bodyInput" id="labelForBodyInput">Message : </label>
    <div>
        <textarea id="bodyInput" name="body"></textarea>
    </div>

    <button id="sendMessageButton">Send this message</button>

</form>