<form id="writeMessageForm" onsubmit="return false">

    <div class="messageContent">

        <div>
            <label for="receiverDropDown">Aan : </label>
        </div>
        <div>
            <span id="receiverName"></span>
            <select name="receiverDropDown" id="receiverDropDown"></select>
        </div>
        <div>
            <label for="subjectInput">Onderwerp : </label>
        </div>
        <div>
            <textarea id="subjectInput" name="subject"></textarea>
        </div>

        <div>
            <label for="bodyInput">Bericht : </label>
        </div>
        <div>
            <textarea id="bodyInput" name="body"></textarea>
        </div>

    </div>

    <div id="sendButtonBox">
        <button id="sendMessageButton" class="messageButtons">Verstuur dit bericht</button>
    </div>

</form>