.footer-copyright {
    color: white;
    margin: auto;
}

#toast {
    visibility: hidden;
    min-width: 250px;
    background-color: var(--boerenkool-paars);
    color: var(--boerenkool-wit);
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 75px;
    font-size: 17px;
    opacity: 0;
    transform: translate(-50%, 100%); 
    transition: opacity 0.5s, visibility 0.5s, transform 0.5s;
}


#toast.show {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 0); 
}