:root {
    --boerenkool-groen: #556B2F; /* main color for header/footer, but also buttons or background color of a main element */
    --boerenkool-paars: #a975de; /* secondary color for h1/h2/h3 or links on white/purple background */
    --boerenkool-lichtgroen: #718E3F; /* lighter green accent for when main isn't enough */
    --boerenkool-lichtpaars: #DAC4F1; /* lighter purple accent for when main isn't enough */
    --boerenkool-zwart: black; /* regular text color, maybe as an outline/border color */
    --boerenkool-wit: white; /* main background color, mostly as main background but for an element is ok */
    --boerenkool-grijs: #f5f5f5; /* secondary background color, mostly for an element but as main background is ok */
    --font-size-large: 18px;
    --font-size-small: 12px;
}

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: normal;
    margin: 0;
    padding: 0;
    border-width: 0;
}

.main-grid-area {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto; /* Zorg ervoor dat de body-div het midden vult */
}

.header-div {
    grid-column: 1 / 2;
    background-color: var(--boerenkool-groen);
    height: fit-content;
}


.footer-div {
    grid-column: 1 / 2;
    background-color: var(--boerenkool-groen);
    height: 50px;
    display: flex;
    align-items: center;
}

.body-div {
    grid-column: 1 / 2;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    height: 100%; /* Zorgt ervoor dat de body-div de resterende ruimte inneemt */
}
