.boerenkool-logo {
    width: 60px;
    margin-left: 20px;
}

.boerenkool-text {
    font-variant: small-caps;
    font-size: 3.7em;
    color: var(--boerenkool-paars);
    margin-left: 5px;
}

.playwrite-pe-boerenkool-slogan {
    color: white;
    margin-left: 5px;
    font-family: "Playwrite PE", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
}

.left-header {
    float: left;
}

.right-header {
    float: right;
    margin-right: 20px;
    margin-top: 40px;
}

.index-link {
    text-decoration: none;
}

.rightheader-text {
    color: white;
}

.rightheader-img {
    margin-left: 20px;
    width: 20px;
    text-decoration: none;
}

.dropdown {
    background-color: var(--boerenkool-groen);
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--boerenkool-groen);
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 6px 8px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.header-div a,
.header-div a:link,
.header-div a:visited,
.header-div a:active {
    text-decoration: none;
    color: white;
}

.header-div a:hover {
    color: var(--boerenkool-paars);
}