.messageGridArea {
    display: grid;
    grid-template-columns: 2fr 4fr;
    /* zet deze kleuren nog in global.css */
    --borderGrey: #ccc; 
    --backgroundLightGrey: #f5f5f5;
}

.messageGridArea menu {
    background-color: var(--backgroundLightGrey);
}

#messageSingleView {
    background-color: var(--backgroundLightGrey);
    min-height: 60vh;
}

#messageSingleView div {
    background-color: white;
    border: 1px;
    border-style: solid;
    border-color: var(--borderGrey);
    border-radius: 4px;
    padding: 10px;
    margin: 3px;
}

#messageOverview {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;    
    background-color: var(--backgroundLightGrey);
} 

#messageInOverview {
    background-color: white;
    border: 1px;
    border-style: solid;
    border-color: var(--borderGrey);
    border-radius: 4px;
    padding: 3px;
    margin: 3px;
}

#messageInOverview div {
    text-overflow:ellipsis;
    overflow:hidden;    
}

.subject {
    font-weight: bold;
}

button {
    border: 1px;
    border-style: solid;
    border-color: var(--borderGrey);
    border-radius: 4px;
    padding: 3px;
    margin: 3px;
}

#floatingCheatMenu {
    position: absolute;
    bottom: 10px;
    right: 10px;
    /* width: 300px; */
    background-color: aqua;
    border: 3px solid black;
    text-align: center;
}