:root {
    --borderGrey: #ccc;
}

.messageMainArea {
    display: grid;
    grid-template-columns: 2fr 4fr;
    background-color: var(--boerenkool-grijs);
}

.messageMainArea menu {
}

/* messageOverview ; contains the list of inbox/outbox messages */
#messageOverview {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;
}

#messageInOverview {
    background-color: white;
    border: 1px;
    border-style: solid;
    border-color: var(--borderGrey);
    border-radius: 4px;
    padding: 3px;
    margin: 3px;
}

#messageInOverview div {
    text-overflow: ellipsis;
    overflow: hidden;
}

/* messageSingleView ; contains readMessageView or writeMessageView */
.messageSingleView {
    background-color: var(--boerenkool-grijs);
    min-height: 60vh;
}

.messageSingleView div {
    background-color: white;
    border: 1px;
    border-style: solid;
    border-color: var(--borderGrey);
    border-radius: 4px;
    padding: 10px;
    margin: 3px;
}

#readMessageView div {
    /* background-color: white;
    border: 1px;
    border-style: solid;
    border-color: var(--borderGrey);
    border-radius: 4px;
    padding: 10px;
    margin: 3px; */
}

#writeMessageView {
    display: flex;
    flex-direction: column;
}

.inputField {
    /*font-size: var(--font-size-large);*/
    width: 300px;
    height: 2em;
}

.subject {
    font-weight: bold;
}

button {
    border: 1px;
    border-style: solid;
    border-color: var(--borderGrey);
    border-radius: 4px;
    padding: 3px;
    margin: 3px;
}

/*dialog {*/
/*    position:fixed;*/
/*    left: 50%;*/
/*    top: 40%;*/
/*    border-style: solid;*/
/*    border-color: var(--borderGrey);*/
/*    border-radius: 4px;*/
/*    padding: 20px;*/
/*}*/

/*#notification {*/
/*    position: absolute;*/
/*    bottom: 10px;*/
/*    right: 10px;*/
/*    background-color: white;*/
/*    border: 3px;*/
/*    border-style: solid;*/
/*    border-color: var(--boerenkool-groen);*/
/*    border-radius: 4px;*/
/*    text-align: center;*/
/*}*/