a {
    text-decoration: none; 
    color: var(--boerenkool-paars);
}

.body-div {
    background-color: var(--boerenkool-grijs);
    display: flex;
    align-items: top; 
    justify-content: center;
}

.huisjes-container {
    height: auto;
    background-color: var(--boerenkool-wit);
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    text-align: left;
}

h1, h2 {
    color: var(--boerenkool-paars);
}

.inline-checkbox {
    scale: 1.35;
    margin: 15px;
}

.inline-del {
    padding: 14px;
    background-color: var(--boerenkool-grijs);
}

.inline-del:hover {
    background-color: rgb(210, 97, 97);
    cursor: pointer;
}

.inline-del-img {
    width: 25px;
    height: 25x;
    align-items: center;
}

.inline-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    object-position: center;
    margin-right: 10px;
}

.inline-house {
    margin-top: 10px;
    display: flex;
    align-items: flex-start; 
    background-color: var(--boerenkool-grijs);
}

.inline-text {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.deleteAllButton {
    pointer-events: none;
    margin-top: 25px;
    width: 250px;
    padding: 10px;
    background-color: var(--boerenkool-lichtgroen);
    color: var(--boerenkool-zwart);
    border: none;
    border-radius: 4px;
    font-size: 16px;
}

.deleteAllButton.active {
    pointer-events: all;
    background-color: rgb(210, 97, 97);
    cursor: pointer;
    color: var(--boerenkool-wit);
}

.selectAll {
    margin-top: 25px;
}
