body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f9f9f9;
    color: #333;
}

h1 {
    text-align: center;
}

section {
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 1em;
}

button {
    padding: 10px;
    background-color: #5c6bc0;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #3949ab;
}

#reservation-result, #cancel-result {
    margin-top: 15px;
    font-weight: bold;
}
