body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-grid-area {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto; /* Zorg ervoor dat de body-div het midden vult */
}

.header-div,
.footer-div {
    grid-column: 1 / 2;
    justify-self: center;
    width: 100%;
    text-align: center;
}

.body-div {
    grid-column: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 100%; /* Zorgt ervoor dat de body-div de resterende ruimte inneemt */
}

.reset-password-confirm-container {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.reset-password-confirm-container h2 {
    margin-bottom: 20px;
    color: var(--boerenkool-paars);
    font-size: 1.8em;
    text-align: center;
}

.reset-password-confirm-container label {
    display: block;
    margin-bottom: 10px;
    font-size: var(--font-size-large);
    color: #333;
}

.reset-password-confirm-container input[type="email"],
.reset-password-confirm-container input[type="text"],
.reset-password-confirm-container input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: var(--font-size-large);
    margin-bottom: 20px;
}

.reset-password-confirm-container button {
    width: 100%;
    padding: 10px;
    background-color: var(--boerenkool-groen);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

#notification {
    margin-top: 20px;
    font-size: var(--font-size-small);
    color: red; /* Dit kan worden aangepast afhankelijk van het type notificatie */
    text-align: center;
}
