<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wachtwoord Vergeten</title>
  <script src="/javascript/forgot-password.js" type="module" defer></script>
</head>
<body>
<div class="reset-password-container">
  <h2>Wachtwoord Vergeten</h2>
  <label for="email">Voer je e-mailadres in:</label>
  <input type="email" id="email" name="email" required>
  <br>
  <button id="resetPasswordBtn">Verstuur</button>
  <div id="notification"></div>
</div>
</body>
</html>
