<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <!-- Koppeling van het hoofd JavaScript-bestand dat de loginfunctionaliteit regelt -->
    <script src="/javascript/main.js" type="module" defer></script>
</head>
<body>
<div class="login-container">
    <h2>Login</h2>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username">
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password">
    <br>
    <button id="loginBtn">Login</button>
    <div id="notification"></div>
    <!-- Link naar de pagina "Wachtwoord vergeten" -->
    <p><a href="/forgot-password">Wachtwoord vergeten?</a></p>
</div>
</body>
</html>
