<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reset Wachtwoord</title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="/javascript/reset-password-confirm.js" defer></script>
</head>
<body>
<div class="reset-password-confirm-container">
  <h2>Maak een nieuw wachtwoord aan</h2>
  <form id="resetPasswordForm">
    <input type="hidden" id="token" name="token" value="{{token}}">

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>

    <label for="newPassword">Nieuw Wachtwoord:</label>
    <input type="password" id="newPassword" name="newPassword" required>

    <label for="confirmPassword">Bevestig Wachtwoord:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" required>

    <button type="submit">Reset Wachtwoord</button>
  </form>
  <div id="notification"></div>
</div>
</body>
</html>
